<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.hzau.cocs.swinedb.mapper.SwineMapper">
    <resultMap id="swineMap" type="com.edu.hzau.cocs.swinedb.pojo.Swine">
        <id column="swine_index" property="index"/>
        <result column="swine_tag" property="tag"/>
        <result column="col_id" property="colId"/>
        <result column="sex" property="sex"/>
        <result column="ages" property="ages"/>
        <result column="weights" property="weights"/>
        <result column="assay_station" property="assayStation"/>
    </resultMap>
    <select id="getSwineList" resultMap="swineMap">
        select * from fsmm.swine;
    </select>

    <select id="getSwineById" resultType="Swine" parameterType="int">
        select * from fsmm.swine where swine_index = #{id};
    </select>
</mapper>